In [1]:
# 리스트 생성
list1 = [1,2,3,4,5]

In [2]:
# 리스트의 주소값 확인
id(list1)

2010395353280

In [3]:
# 리스트에 값 추가
list1.append(6)

In [4]:
# 리스트의 주소값 확인
id(list1)

2010395353280

In [5]:
# 리스트에 새로운 값 할당
list1 = [1,2,3,4]
id(list1)

2010395124864

In [6]:
list2 = list1
id(list2)

2010395124864

In [7]:
print('list1 : ',list1)
print('list2 : ',list2)

list1 :  [1, 2, 3, 4]
list2 :  [1, 2, 3, 4]

In [8]:
list2.append(5)

In [9]:
# 둘다 변경됨
print('list1 : ',list1)
print('list2 : ',list2)

list1 :  [1, 2, 3, 4, 5]
list2 :  [1, 2, 3, 4, 5]

In [12]:
# 다른 주소로 값만 가져오기
# .copy() : 값만 가져오는 기능
list3 = list1.copy()
id(list3) # 리스트 1,2 와 다른 주소값을 갖게 됨

2010395347584

In [10]:
str1 = '문자열'
type(str1)

str

In [11]:
int1 = 60
type(int1)

int

### 리스트

In [ ]:
# remove, insert, pop, append, count, len, reverse, sort, 인덱싱, 슬라이싱, index ...
# 자주 쓰는 정도
# 인덱싱, 슬라이싱
# append
# remove

In [14]:
# 1 ~ 50까지가 담긴 리스트 생성
list1=[]

for i in range(1,51,1) :
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [20]:
list2=[]

for i in range(100) :
    if i < 51 and i > 0  :
        list2.append(i)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [25]:
list3 = []

for i in range(50,0,-1) :
    list3.append(i)
    if i <0 :
        break
list3.reverse()
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [27]:
list4 = []
num=1
while True :
    list4.append(num)
    num+=1
    if len(list4) > 49 :
        break
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [32]:
# 인덱싱 슬라이싱
# 대괄호 []
# 10 출력하기
print(list1[9])
# 15 ~ 25 출력하기
print(list1[14:25])

10
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [34]:
# print : 원하는 위치에서 출력 가능 : 실행
# 변수명 출력 : 마지막 위치에서만 출력 가능 : 출력

In [35]:
#  \n : 개행
str1 = "asdf\nasdf"
str1        # 마지막 위치가 아니므로 출력이 안됨
print(str1) # print 이므로 내부의 \n이 실행됨
str1        # 그냥 모습 자체를 출력

asdf
asdf

'asdf\nasdf'

### 딕셔너리
- key, value 로 이루어짐

In [40]:
# dic_team 변수명을 사용해서 딕셔너리 만들기
# 이름 나이 key 값 사용
# 팀원들의 정보
dic_team = {
    "이름" : ["권우진","김태경","장민서","최종인","최찬호"],
    "나이" : [27,23,32,29,30]
}

print(dic_team)

{'이름': ['권우진', '김태경', '장민서', '최종인', '최찬호'], '나이': [27, 23, 32, 29, 30]}

In [41]:
import pandas as pd
test_pd = pd.DataFrame(dic_team)

In [43]:
# 엑셀 파일 변환
test_pd.to_csv("asdf.csv" , encoding = 'cp949')